<!doctype html>
{% extends 'base.html' %}
{% load static %} 

<html lang="ja">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>カテゴリー登録</title>
</head>

<body>
{% block content %}
<div class="genre">
    <p style="padding-left: 100px;">※リンク先のイメージです。</p>
    <img src="/media/genre.png" style="padding-left: 100px;" border="0" />
</div>

<div class="category">
    
   <link href="{% static 'css/style_category_form.css' %}" rel="stylesheet">
    <div style="category-triangle"></div>
    <h1 class="category-header">カテゴリー登録</h1>
    
<table>
<li>「https://ranking.rakuten.co.jp/daily/○○○○○○/」形式のURLをコピーしてください。</li>
<li>例: 洗濯機の場合は「https://ranking.rakuten.co.jp/daily/204491/」</li>
<li>下記リンクをクリック後、カテゴリーを選択してください。</li>
<li>カテゴリーURLは<a href="https://ranking.rakuten.co.jp/daily/" target="_blank" rel="noopener noreferrer">ここをクリック</a></li>
{% if request.user.is_authenticated %}
        {% if user == request.user %}
            <form method="POST">{% csrf_token %}               
                <p>{{ form.as_p }}</p>
                <button class="btn btn-primary" type="submit">登録</button>
            </form>
        {% endif %}
{% endif %}
</table>
</div>


</body>
{% endblock %}
</html>
